@page "/ocrlabel/{BookName}"
@inject Data.BlazorApp1Context MyService
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using Microsoft.EntityFrameworkCore;
<PageTitle>OCR标注</PageTitle>

@if (OCRbook == null)
{
    <p><em>页码不存在</em></p>
}
<EditForm Model="@PageNumber" OnSubmit="@OnParametersSet">
    跳转到第
    <InputText id="page" @bind-Value="PageNumber"/>
    页
</EditForm>
@if (OCRbook != null)
{
    <h3>OCR标注  @BookName 第 @PageNumber 页 </h3>

    <img title="第 @PageNumber 页" src="ocrlabel/@BookName/@(PageNumber).jpg" style="max-width:100%;overflow:hidden;" />
    <EditForm Model="@OCRbook" OnSubmit="@HandleSubmit">
        <table class="table">
            <tbody>
                @foreach (var item in @OCRbook.Text.rec_res)
                {
                    <tr>
                        <td width="90%">
                            <InputText  id="name" @bind-Value="item.Text" style="width:100%"/>
                        </td>

                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <h5>OCR标注  @BookName 第 @PageNumber 页 </h5>
                </tr>
                <tr>
                    
                    <td>
                        <Button  type="submit">提交</Button>
                        <Button  type="primary" @onclick="@(e=>{PageNumber = (int.Parse(PageNumber)-1).ToString();OnParametersSet();})">上一页</Button>
                        <Button  type="primary" @onclick="@(e=>{PageNumber = (int.Parse(PageNumber)+1).ToString();OnParametersSet();})">下一页</Button>
                    </td>

                        
                </tr>
            </tfoot>
        </table>


        
    </EditForm>
}
@code {
    [Parameter]
    public string PageNumber { get; set; } = "1";
    [Parameter]
    public string BookName { get; set; }

    public Data.OCRbook OCRbook { get; set; }

    protected override void OnInitialized()
    {
        PageNumber = PageNumber ?? "fantastic";
        MyService.BookName.ToList();
       

    }
    protected override void OnParametersSet()
    {
        OCRbook = MyService.OCRbook.Where(b => b.BookName.Name == BookName && b.PageNumber == int.Parse(PageNumber)).FirstOrDefault();
    }
    private void HandleSubmit()
    {
        MyService.OCRbook.Update(OCRbook);
        MyService.SaveChanges();

        // Process the form
    }


}
